<!DOCTYPE html>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meet Our Team</title>
    <link rel="stylesheet" href="/ourTeams.css">
</head>

<html>
    <header>
        <h1>Meet Our Team</h1>
    </header>

    <section class="team-member">
        <% if(teams.length==0){ %>
        <h1>No Members</h1>
        <% } else{ %>
            <% teams.forEach((member)=>{%>
                <div class="member">
                    <h2><%- member.name%></h2>
                    <a href="/single/<%-member.id%>">
                    <p>
                        More Details
                    </p></a>
                    <%})%>
                    <%}%>
                </div>

    </section>



    <!-- Add more team members as needed -->

    <footer>
        <p>&copy; 2023 Your Company Name</p>
    </footer>

</html>